*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#heroheader{
    width: 100%;
    height: 75%;
    background-image: url(https://images.unsplash.com/photo-1515824955341-43172b4d8260?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}


#nav{
    margin-top: 50px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
#nav h2{
    font-size: 30px;
    font-family: "Abril Fatface", serif;
}
#nav i{
    font-size: 40px;
    cursor: pointer;
}
#herocontent{
    position: absolute;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center !important;
}
#herocontent h1{
        font-size: 80px;
        font-family: "Abril Fatface", serif;
        margin-bottom: 20px;
}
#herocontent h4{
    font-size: 30px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    margin-bottom: 48px;
}
#menuitems{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    display: none;
}
#menuitems i{
    cursor: pointer;
    padding: 50px 20px;
    position: absolute;
    right: 0;
    font-size: 40px;
}
#itemlinks{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#itemlinks a{
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    font-family: "Abril Fatface", serif;
}

#itemlinks a:hover{
    color: #65C0BA;
}

#gallerypart{
    height: 165%;
    width: 100%;
    padding: 6%;
}
.gp1{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
}
.gp1img{
    height: 180px;
    width: 400px;
    background-image: url(https://images.unsplash.com/photo-1582562048678-a11dddd8a124?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}
#gp2{
    width: 100%;
    height: 380px;
    display: flex;
    gap: 20px;
}
.gp2img{
    height: 360px;
    width: 800px;
    background-image: url(https://images.unsplash.com/photo-1476817343404-01ccd61218d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}
#footer{
    top: 100;
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #1A1A1A;
}
#footerele1{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footerele1 h3{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}
#footerele1 a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffffaf;
    font-family: "Mukta Mahee", sans-serif;
}
#footerele2{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footerele2 h3{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}
#footerele2 a{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffffaf;
    font-family: "Mukta Mahee", sans-serif;
}
#footerele3{
    width: 20%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footerele3 h3{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}
#footerele3 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffffaf;
}
#footerele3 h6{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffffffaf;   
}

#footerele4{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#footerele4 h3{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}
#footerele4 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff70;
}
#nlform input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #fff;
}
#nlform{
    border-bottom: 1px solid #fff;
    height: 30px;
    padding: 0 10px;
}

/*Responsive*/
@media(max-width: 575px){
    #herocontent{
        width: 90%;
    }
    #heroheader h1{
        font-size: 40px;
        text-wrap: none;
    }
    #heroheader h4{
        font-size: 18px;
    }
    
    .gp1img {
        height: 350px;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1582562048678-a11dddd8a124?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    .gp1 {
        width: 100%;
        height: 27%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #gp2 {
        margin-top: 70px;
        width: 100%;
        height: 16%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #gallerypart {
        height: 500%;
        width: 100%;
        padding: 6%;
    }
    #footer{
        flex-direction: column;
        height: 120%;
        gap: 5px;
        padding: 30px 30px;
    }
    .ri-send-plane-fill{
        color: #fff;
    }
    #footerele1{
        width: 100%;
    }
    #footerele2{
        width: 100%;
    }
    #footerele3{
        width: 100%;
    }
    #footerele4{
        width: 100%;
    }
    #nlform{
        width: 70%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #herocontent{
        width: 90%;
    }
    #heroheader h1{
        font-size: 40px;
        text-wrap: none;
    }
    #heroheader h4{
        font-size: 18px;
    }
    
    .gp1img {
        height: 350px;
        width: 48%;
        background-image: url(https://images.unsplash.com/photo-1582562048678-a11dddd8a124?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    .gp1 {
        width: 100%;
        height: 25%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #gp2 {
        margin-top: 0px;
        width: 100%;
        height: 26%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #gallerypart {
        height: 280%;
        width: 100%;
        padding: 6%;
    }
    #footer {
        flex-direction: row;
        height: 44%;
        gap: 25px;
        padding: 30px 10px;
    }
    .ri-send-plane-fill{
        color: #fff;
    }
    #footerele1{
        width: 100%;
    }
    #footerele2{
        width: 100%;
    }
    #footerele3{
        width: 100%;
    }
    #footerele4{
        width: 100%;
    }
    #nlform {
        display: flex;
        width: 99%;
    }
  }
@media (min-width: 768px) and (max-width: 991px) {
    #herocontent{
        width: 90%;
    }
    #heroheader h1{
        font-size: 40px;
        text-wrap: none;
    }
    #heroheader h4{
        font-size: 18px;
    }
    
    .gp1img {
        height: 350px;
        width: 48%;
        background-image: url(https://images.unsplash.com/photo-1582562048678-a11dddd8a124?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    .gp1 {
        width: 100%;
        height: 25%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .gp2img {
        height: 385px;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1476817343404-01ccd61218d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG9ydGFpdHxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    #gp2 {
        margin-top: 0px;
        width: 100%;
        height: 26%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #gallerypart {
        height: 280%;
        width: 100%;
        padding: 6%;
    }
    #footer {
        flex-direction: row;
        height: 44%;
        gap: 25px;
        padding: 30px 30px;
    }
    .ri-send-plane-fill{
        color: #fff;
    }
    #footerele1{
        width: 100%;
    }
    #footerele2{
        width: 100%;
    }
    #footerele3{
        width: 100%;
    }
    #footerele4{
        width: 100%;
    }
    #nlform {
        display: flex;
        width: 99%;
    }
    
  }
  @media (min-width: 1200px) {
    #section2 {
        top: 100;
        width: 100%;
        height: 81%;
        background-color: #fff;
        padding: 80px 20px;
    }
    #section3 {
        top: 100;
        width: 100%;
        height: 130%;
        background-color: #fafafa;
        border-top: .3px solid rgba(0, 0, 0, 0.144);
        padding: 110px 20px;
    }
    #iconlist {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        height: 100%;
    }
    #section2 {
        top: 100;
        width: 100%;
        height: 70%;
        background-color: #fff;
        padding: 80px 20px;
    }
    #tmtxt {
        width: 100%;
        height: 20%;
        text-align: center;
        padding: 10% 24% 10px 24%;
    }
    #team {
        height: 115%;
        width: 100%;
    }
    #tblocks {
        width: 100%;
        height: 80%;
        padding: 6% 4%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
    #sec3txt h1 {
        font-family: "Abril Fatface", serif;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 50px;
    }
    #sec3txt p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
    }
    #icon1 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon1 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #icon2 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon2 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #icon3 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon3 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #icon4 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon4 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #icon5 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon5 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #icon6 h1 {
        font-family: "Abril Fatface", serif;
        font-weight: 500;
        font-size: 40px;
    }
    #icon6 p {
        font-family: "Mukta Mahee", sans-serif;
        font-size: 30px;
        color: #0000005b;
        font-weight: 300;
    }
    #toptxt {
        width: 100%;
        height: 23%;
        padding: 0 15%;
    }
    #iconlist {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        height: 77%;
    }
    #icon1 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #icon2 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #icon3 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #icon4 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #icon5 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #icon6 {
        width: 30%;
        height: 30%;
        text-align: center;
    }
    #section4 {
        top: 100;
        width: 100%;
        height: 140%;
        background-color: #fff;
        padding: 70px 20px;
    }
    #sec4txt {
        text-align: center;
        width: 100%;
        height: 20%;
        color: #000;
        padding: 10px 0%;
    }
    #sec4txt p {
        margin-top: 15px;
        color: #000;
        font-size: 35px;
        font-family: "Mukta Mahee", sans-serif;
    }
    #sec6mtxt {
        padding-top: 5%;
        height: 30%;
        width: 100%;
        text-align: center;
        padding-left: 4%;
        padding-right: 4%;
    }
    #sec6blocks {
        width: 100%;
        max-height: 100%;
        /* display: flex; */
        /* flex-direction: column; */
        gap: 10px;
        padding: 50px 3% 30px 3%;
    }
    #section6 {
        top: 100;
        width: 100%;
        height: 110%;
        background-color: #65C0BA;
    }
    #sec6mtxt p {
        margin-top: 15px;
        font-size: 32px;
        color: #ffffff79;
        font-family: "Mukta Mahee", sans-serif;
    }
    .bk1 {
        width: 100%;
        background-color: #fff;
        height: 70%;
    }
    .bk1img {
        height: 60%;
        background-image: url(https://images.unsplash.com/photo-1689066117649-0ca9762fc92c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2xhc3MlMjBvZiUyMGp1aWNlfGVufDB8fDB8fHww);
        background-position: center;
        background-size: cover;
    }
    .bk2img {
        height: 60%;
        background-image: url(https://plus.unsplash.com/premium_photo-1675802755792-a7cfd346b5be?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Ym9hdHxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    .bk3img {
        height: 60%;
        background-image: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c29mYXxlbnwwfHwwfHx8MA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    #section7 {
        top: 100;
        width: 100%;
        height: 76%;
        background-color: #FAFAFA;
        padding: 10% 4%;
    }
    #section8 {
        top: 100;
        width: 100%;
        height: 80%;
        padding: 4% 1.5%;
        background-color: #fff;
    }
    #sec8mtxt {
        width: 100%;
        height: 23%;
        padding: 0px 4%;
        text-align: center;
    }
    #sec8mtxt h1 {
        font-size: 45px;
        font-weight: 500;
        font-family: "Abril Fatface", serif;
    }
    #sec8mtxt p {
        margin-top: 5px;
        font-size: 32px;
        font-weight: 300;
        font-family: "Mukta Mahee", sans-serif;
        color: #00000077;
    }
    #sec8blocks {
        margin-top: 3%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        height: 80%;
    }
    #sec8blocks .block1 {
        width: 24%;
        height: 61%;
    }
    #footer {
        top: 100;
        width: 100%;
        height: 82%;
        padding: 10% 4%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        background-color: #1A1A1A;
    }
}