*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#heroheader{
    width: 100%;
    height: 105%;
    background-image: url(https://images.unsplash.com/photo-1560703650-ef3e0f254ae0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#section5{
    top: 100;
    width: 100%;
    height: 120%;
    background-color: #65C0BA;
}
#section6{
    top: 100;
    width: 100%;
    height: 110%;
    background-color: #fafafa;
}
#section7{
    top: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#footer{
    top: 100;
    width: 100%;
    height: 120%;
    background-color: #1A1A1A;
}
#nav{
    margin-top: 50px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
#nav h2{
    font-size: 30px;
    font-family: "Abril Fatface", serif;
}
#nav i{
    font-size: 40px;
}
#herocontent{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center !important;
}
#herocontent h1{
        font-size: 80px;
        font-family: "Abril Fatface", serif;
        margin-bottom: 20px;
}
#herocontent h4{
    font-size: 30px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    margin-bottom: 48px;
}
#herocontent button{
    padding: 16px 30px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 3px;
}
#herocontent button h6{
    font-family: "Mukta Mahee", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #fff;
    font-size: 15px;
}
#herocontent button:hover{
    padding: 16px 30px;
    background-color: #fff;
    color: #000000;
    font-family: "Mukta Mahee", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 15px;
    cursor: pointer;
}
#herocontent button:hover h6{
    color: #000000;
}
#section2{
    top: 100;
    width: 100%;
    height: 130%;
    background-color: #fff;
    padding: 120px 110px;
}
#allcontentofsec2{
    width: 100%;
    height: 100%;
    display: flex;
}
#sec2img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1627138094290-61cf07e22152?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#sec2content{
    width: 50%;
    height: 100%;
    padding-left: 50px;
    padding-right: 5px;
}
#sec2mcontent{
    width: 100%;
    height: 100%;
    align-content: center;
}
#sec2mcontent h1{
    font-size: 33px;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    margin-bottom: 15px;
}
#sec2mcontent P{
    font-size: 18px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
}
#sec2mcontent #playbutton{
    display: flex;
    gap: 15px;
    font-size: 20px;
    color: #3f9a94ee;
    cursor: pointer;
    align-items: center;
}

#playbutton #ricon{
    width: auto;
    height: 40%;
    border: 1.5px solid #00000027;
    padding: 13px 13px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    transition: border-color .3s ease;
}

#playbutton .itext{
    text-transform: uppercase;
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    font-weight: 800;
}
#playbutton:hover #ricon{
    width: auto;
    height: 40%;
    border: 1.5px solid #000000;
    padding: 13px 13px;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    justify-content: center;
}
#section3{
    top: 100;
    width: 100%;
    height: 140%;
    background-color: #fafafa;
    border-top: .3px solid rgba(0, 0, 0, 0.144);
    padding: 110px 100px;
}
#sec3lo{
    width: 100%;
    height: 100%;
}
#toptxt{
    width: 100%;
    height: 30%;
    padding: 0 15%;
}
#sec3txt{
    width: 100%;
    height: 100%;
    text-align: center;
}
#sec3txt h1{
    font-family: "Abril Fatface", serif;
    margin-bottom: 5px;
    font-weight: 500;
}
#sec3txt p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
}

#iconlist{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: 70%;
}
#icon1{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon1 i{
    font-size: 50px;
    color: #000000a8;
}
#icon1 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon1 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon2{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon2 i{
    font-size: 50px;
    color: #000000a8;
}
#icon2 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon2 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon3{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon3 i{
    font-size: 50px;
    color: #000000a8;
}
#icon3 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon3 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon4{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon4 i{
    font-size: 50px;
    color: #000000a8;
}
#icon4 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon4 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon5{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon5 i{
    font-size: 50px;
    color: #000000a8;
}
#icon5 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon5 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon6{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon6 i{
    font-size: 50px;
    color: #000000a8;
}
#icon6 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon6 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#section4{
    top: 100;
    width: 100%;
    height: 140%;
    background-color: #fff;
    padding: 100px 50px;
}
#section4 #sec4mb{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
