*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#heroheader{
    width: 100%;
    height: 105%;
    background-image: url(https://images.unsplash.com/photo-1560703650-ef3e0f254ae0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}


#section7{
    top: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#footer{
    top: 100;
    width: 100%;
    height: 120%;
    background-color: #1A1A1A;
}
#nav{
    margin-top: 50px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
#nav h2{
    font-size: 30px;
    font-family: "Abril Fatface", serif;
}
#nav i{
    font-size: 40px;
}
#herocontent{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center !important;
}
#herocontent h1{
        font-size: 80px;
        font-family: "Abril Fatface", serif;
        margin-bottom: 20px;
}
#herocontent h4{
    font-size: 30px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    margin-bottom: 48px;
}
#herocontent button{
    padding: 16px 30px;
    background-color: transparent;
    border-color: #fff;
    border-radius: 3px;
}
#herocontent button h6{
    font-family: "Mukta Mahee", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #fff;
    font-size: 15px;
}
#herocontent button:hover{
    padding: 16px 30px;
    background-color: #fff;
    color: #000000;
    font-family: "Mukta Mahee", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 15px;
    cursor: pointer;
}
#herocontent button:hover h6{
    color: #000000;
}
#section2{
    top: 100;
    width: 100%;
    height: 130%;
    background-color: #fff;
    padding: 120px 110px;
}
#allcontentofsec2{
    width: 100%;
    height: 100%;
    display: flex;
}
#sec2img{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1627138094290-61cf07e22152?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#sec2content{
    width: 50%;
    height: 100%;
    padding-left: 50px;
    padding-right: 5px;
}
#sec2mcontent{
    width: 100%;
    height: 100%;
    align-content: center;
}
#sec2mcontent h1{
    font-size: 33px;
    font-family: "Abril Fatface", serif;
    font-weight: 500;
    margin-bottom: 15px;
}
#sec2mcontent P{
    font-size: 18px;
    font-family: "Mukta Mahee", sans-serif;
    font-weight: 200;
    margin-bottom: 40px;
}
#sec2mcontent #playbutton{
    display: flex;
    gap: 15px;
    font-size: 20px;
    color: #3f9a94ee;
    cursor: pointer;
    align-items: center;
}

#playbutton #ricon{
    width: auto;
    height: 40%;
    border: 1.5px solid #00000027;
    padding: 13px 13px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    transition: border-color .3s ease;
}

#playbutton .itext{
    text-transform: uppercase;
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    font-weight: 800;
}
#playbutton:hover #ricon{
    width: auto;
    height: 40%;
    border: 1.5px solid #000000;
    padding: 13px 13px;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    justify-content: center;
}
#section3{
    top: 100;
    width: 100%;
    height: 140%;
    background-color: #fafafa;
    border-top: .3px solid rgba(0, 0, 0, 0.144);
    padding: 110px 100px;
}
#sec3lo{
    width: 100%;
    height: 100%;
}
#toptxt{
    width: 100%;
    height: 30%;
    padding: 0 15%;
}
#sec3txt{
    width: 100%;
    height: 100%;
    text-align: center;
}
#sec3txt h1{
    font-family: "Abril Fatface", serif;
    margin-bottom: 5px;
    font-weight: 500;
}
#sec3txt p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
}

#iconlist{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    height: 70%;
}
#icon1{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon1 i{
    font-size: 50px;
    color: #000000a8;
}
#icon1 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon1 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon2{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon2 i{
    font-size: 50px;
    color: #000000a8;
}
#icon2 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon2 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon3{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon3 i{
    font-size: 50px;
    color: #000000a8;
}
#icon3 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon3 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon4{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon4 i{
    font-size: 50px;
    color: #000000a8;
}
#icon4 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon4 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon5{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon5 i{
    font-size: 50px;
    color: #000000a8;
}
#icon5 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon5 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#icon6{
    width: 30%;
    height: 50%;
    text-align: center;
}
#icon6 i{
    font-size: 50px;
    color: #000000a8;
}
#icon6 h1{
    font-family: "Abril Fatface", serif;
    font-weight: 500;
}
#icon6 p{
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #0000005b;
    font-weight: 300;
}
#section4{
    top: 100;
    width: 100%;
    height: 140%;
    background-color: #fff;
    padding: 100px 50px;
}
#section4 #sec4mb{
    width: 100%;
    height: 100%;
    position: relative;

}
#sec4txt{
    text-align: center;
    width: 100%;
    height: 30%;
    color: #000;
    padding: 20px 20%;
}
#sec4txt p{
    margin-top: 15px;
    color: #000;
    font-size: 20px;
    font-family: "Mukta Mahee", sans-serif;
} 
#sec4txt h1{
    color: #000;
    font-size: 65px;
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
} 

#sec4slider{
    position: absolute;
    margin-top: 150px;
    width: 100%;
    height: 100%;
    animation-name: secanime;
    animation-duration: 10s;
    animation-delay: 1s;;
    animation-iteration-count: infinite;
    z-index: 2;
}

@keyframes secanime {
    0%{
        background-image: url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    25%{
        background-image: url(https://images.unsplash.com/photo-1496449903678-68ddcb189a24?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    50%{
        background-image: url(https://images.unsplash.com/photo-1504805572947-34fad45aed93?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    75%{
        background-image: url(https://images.unsplash.com/photo-1498019559366-a1cbd07b5160?q=80&w=1458&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
    }
    100%{
        background-image: url(https://images.unsplash.com/photo-1465321897912-c692b37a09a6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
    }
}
#section5{
    top: 100;
    width: 100%;
    height: 50%;
    background-color: #65C0BA;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
#section6{
    top: 100;
    width: 100%;
    height: 150%;
    background-color: #65C0BA;
}
#sec6mtxt{
    padding-top: 5%;
    height: 30%;
    width: 100%;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
}
#sec6mtxt h1{
    font-size: 70px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
}
#sec6mtxt p{
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff79;
    font-family: "Mukta Mahee", sans-serif;
}

#sec6blocks{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 40px;
    padding: 50px 10% 30px 10%;
}

.bk1{
    width: 35%;
    background-color: #fff;
    height: 70%;
}
.bk1img{
    height: 40%;
    background-image: url(https://images.unsplash.com/photo-1689066117649-0ca9762fc92c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2xhc3MlMjBvZiUyMGp1aWNlfGVufDB8fDB8fHww);
    background-position: center;
    background-size: cover;
}
.bk2img{
    height: 40%;
    background-image: url(https://plus.unsplash.com/premium_photo-1675802755792-a7cfd346b5be?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Ym9hdHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}
.bk3img{
    height: 40%;
    background-image: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c29mYXxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-size: cover;
}
.bk1txt{
    padding: 25px;
}
.bk1txt h4{
    font-family: "Mukta Mahee", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #0000006c;
    letter-spacing: 1px;
}
.bk1txt h2{
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    font-size: 25px;
}
.bk1txt p{
    padding-top: 10px;
    font-family: "Mukta Mahee", sans-serif;
    font-size: 20px;
    color: #000000b4;
}
